<h1>Nauka Angulara!</h1>

<br>

<div>
  <span>{{title | uppercase }}</span>
</div>

<br>

{{getText()}}

<br><br><br>

<div>
  <h3>To jest wywolanie danych osoby(imie, nazwisko, wiek):</h3>
  {{getPerson().name}}
  {{getPerson().surname}}
  {{getPerson().age}}
</div>

<br><br>

<div>
  <h3>Change detection</h3>

  <p>{{ getInfo() }}</p>
  <p>{{ counter }}</p>

  <button (click)="count()">Click</button>
</div>

<br><br>

<div>
  <h3>Wyświetlanie daty</h3>

  <p>{{ getDate() }}</p>
  <button (click)="count()">Click</button>
</div>

<br><br>

<div>
  <h3>Przykład *ngFor z indeksowaniem</h3>
  <ul>
    <li *ngFor="let car of cars; let i = index">
      <span>{{i+1}}. {{car.brand}}, {{car.name}}, {{car.price}}</span>
    </li>
  </ul>
</div>
